@font-face {
    font-family: "aggro";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/aggro/aggro-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/aggro/aggro-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/aggro/aggro-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/aggro/aggro-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/aggro/aggro-Light.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "aggro";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/aggro/aggro-Medium.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/aggro/aggro-Medium.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/aggro/aggro-Medium.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/aggro/aggro-Medium.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/aggro/aggro-Medium.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "aggro";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/aggro/aggro-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/aggro/aggro-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/aggro/aggro-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/aggro/aggro-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/aggro/aggro-Bold.ttf") format("truetype");
    font-display: swap;
}
.aggro {
    font-family: "aggro";
}
.aggro300 {
    font-family: "aggro";
    font-weight: 300;
}
.aggro500 {
    font-family: "aggro";
    font-weight: 500;
}
.aggro700 {
    font-family: "aggro";
    font-weight: 700;
}